body {
    display: flex;
    justify-content: center;
}

.gallery {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    width: 1128px;
    gap: 24px;
}

.gallery-item {
    display: block;
}

.gallery-image {
    display: block;
    width: 360px;
    height: 200px;
    transition: transform 300ms ease-in;
}

.gallery-image:hover {
    transform: scale(1.05);
}
